p { 
    padding: 50px;
    background-color: rgba(255, 0, 0, 0.5);
    
    font-size: 35px;
    font-weight: 900;
    color: rgb(165, 81, 42);
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.04em;
    
    border-style: solid;
    border-color: crimson;
    border-width: 0.3em;
}