.appsrvr {
    background-color: rgba(181, 0, 253, 0.267);
    color: rgb(0, 162, 255);

    font-size: 0.1em;

    margin-left: 5em;
    margin-right: 20em;
}

hr {    
    border-width: 1em;
    border-color: rgb(225, 150, 65);
    border-style: inset;
}

p {
    background-color: violet;
    font-size: 1.5em;
}